<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- /============= Description Site =============/ -->
    <meta property="og:type" content="site">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <!-- -------------------------------------------- -->
    <meta name="description" content="Описание">
    <meta name="keywords" content="Клучивые слова">
    <!-- -------------------------------------------- -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!-- /============= Description Site =============/ -->

    <!-- /=================== CSS ====================/ -->
    <link rel="stylesheet" href="public/css/main.css">
    <!-- /=================== CSS ====================/ -->

    <title>Login</title>
</head>

<body>

    <!-- /=============/ Start /-->
    <div class="container">

        <!-- /================ Login ================/ -->
        <section class="login">
            <h1>Login</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="blue">Login</button>
            <div class="res"></div>
            <div>
                <a href="/register">Sign up</a>
            </div>
        </section>
        <!-- /================ Login ================/ -->

    </div>
    <!-- /=============/ End /-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="public/js/main.js"></script> -->
    <script src="public/js/login.js"></script>

</body>

</html>